<div class="center hero-unit">
  <h1>Welcome to the Callchat</h1>

  <h2>
    This is the 
    <a href="https://github.com/EvgrafovDR/voicechat">githab source</a>
  </h2>

  <%= link_to "Chat", '#', class: "btn btn-large btn-primary" %>
</div>
