<div class="center hero-unit">
  <h1>Welcome to the Callchat</h1>

  <h2>
    Ссылка на 
    <a href="https://github.com/EvgrafovDR/voicechat">репозиторий</a>
  </h2>

  <%= link_to "Начать чат", '#', class: "btn btn-large btn-primary" %>
</div>
